body {
  background-color: #efefef;
}
.Header {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
  display: flex;


}
.Header-profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin: 20px;
  float:left;

}

.Header-stats-title {
  margin: 10px;
  height: auto;
  width:100%;
  float:left;
  display: float;

}


.Header-rating {
  text-align: center;
  float: left;
  margin:10px;
}
.Header-title {
  width: auto;
}


.circular-chart {
  margin: 10px auto;
  max-width: 80px;
}

.circle {
  stroke: #4CC790;
  fill: none;
  stroke-width:2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

.circle-text {
  fill: #4CC790;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.Token-container {
  margin: 10px;
  display: flex;
  float: right;
  width: auto;
}

.Token {
  border-radius: 10px;
  border-style: solid;
  border-width: 0px;
  border-color: #8c8c8c;
  width: 80px;
  height: 80px;
  align: auto;
  margin: 10px;
  text-align: center;
  vertical-align: middle;
  display: flex;

}

.Token-text {
  color: #8c8c8c;
  align: center;
  font-size: 50px;
  text-align: center;
  margin: auto;

}

.Token-title {
  max-width: 80px;
  text-align: center;
  margin: auto;
}
.Token-img {
  width: 60px;
  height: 60px;
  text-align: center;
  margin: auto;
}
